<html>
<body>
    <h1>Currencys</h1>
    <%=Currency[0]['name']%>
    <%=Currency[0]['currencyNum']%></div>
    <%=Currency[1]['name']%>
    <%=Currency[1]['currencyNum']%></div>
    <%=Currency[2]['name']%>
    <%=Currency[2]['currencyNum']%></div>
</body>

</html>